<div class="p-2">
    {{#if user.is_admin}}
    <a href="/competitions/add" class="btn btn-primary">Novo natjecanje</a>
    {{/if}}

    <div class="overflow-x-auto">
        <table class="table">


            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ime</th>
                    <th>Opis</th>
                    <th>Rok prijave</th>
                    <th>Autor</th>
                    {{#if user.is_admin}}
                    <br> <br>
                    <th>Mogućnosti</th>
                    {{/if}}
                </tr>
            </thead>


            <tbody>

                {{#each result.items}}
                <tr>
                    <th>{{this.id}}</th>
                    <td>{{this.name}}</td>
                    <td>
                        <div class="line-clamp-2">
                            {{this.description}}
                        </div>
                    </td>
                    <td x-data="{}">
                        <span x-text="new Date('{{this.apply_till}}').toLocaleString()"></span>
                    </td>
                    <td>{{this.author}}</td>
                    {{#if ../user.is_admin}}
                    <td class="flex flex-wrap gap-2">
                        <a href="/competitions/edit/{{this.id}}" class="btn btn-accent btn-xs">Uredi</a>
                        <a href="/competitions/delete/{{this.id}}" class="btn btn-error btn-xs">Izbriši</a>
                        <a href="/competitions/score_input/{{this.id}}" class="btn btn-accent btn-xs">Prikaz prijava</a>
                        <a href="/competitions/leaderboard/{{this.id}}" class="btn default btn-xs">Izvješće
                            natjecanja</a>

                    </td>
                    {{/if}}
                    <td class="flex-none">
                        <a href="/competitions/login/{{this.id}}" class="btn btn-primary">Prijavi</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>