<div class="p-2">
    <div class="overflow-x-auto">
        <table class="table">
           
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Korisnik</th>
                    <th>Natjecanje</th>
                    <th>Trenutni bodovi </th>
                    <th>Promjena bodova</th>
                </tr>
            </thead>
            
            <tbody>

                {{#each result.items}}
                <tr>
                    <th>{{this.login_id}}</th>
                    <td>{{this.Competitor}}</td>
                    <td>{{this.CompName}}</td>
                    <td>{{this.score}}</td>
                    <td>
                        <form method="post" action="/competitions/score_change" class="flex flex-col gap-2">
                            <div class="flex flex-col">
                                <label>Bodovi</label>
                                <input id="score" type="number" name="score" value="{{this.score}}" class="bg-neutral"/>
                                <input type="hidden" name="id" value="{{this.login_id}}"/>
                                {{> form_buttons }}
                            </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>